<h1>New reaction</h1>

<% form_for(@reaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :rotation %><br />
    <%= f.text_field :rotation %>
  </p>
  <p>
    <%= f.label :preview %><br />
    <%= f.text_field :preview %>
  </p>
  <p>
    <%= f.label :accept %><br />
    <%= f.check_box :accept %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', reactions_path %>