<p>
  <b>Initial:</b>
  <%=h @mywin.initial %>
</p>

<p>
  <b>Surname:</b>
  <%=h @mywin.surname %>
</p>

<p>
  <b>Address:</b>
  <%=h @mywin.address %>
</p>

<p>
  <b>Areacode:</b>
  <%=h @mywin.areacode %>
</p>

<p>
  <b>Phonenumber:</b>
  <%=h @mywin.phonenumber %>
</p>

<p>
  <b>Numberofwindows:</b>
  <%=h @mywin.numberofwindows %>
</p>

<p>
  <b>Windowsdescription:</b>
  <%=h @mywin.windowsdescription %>
</p>

<p>
  <b>Windowslayout:</b>
  <%=h @mywin.windowslayout %>
</p>

<p>
  <b>Points:</b>
  <%=h @mywin.points %>
</p>

<p>
  <b>Accept:</b>
  <%=h @mywin.accept %>
</p>


<%= link_to 'Edit', edit_mywin_path(@mywin) %> |
<%= link_to 'Back', mywins_path %>